<%- include('partials/head') %>

<h1>Reinsdyrsiden!</h1>
<form action="search" method="post">
    <input type="search" name="search" placeholder="Søk">
</form>
<a href="/auth/register">Registrer</a>
<a href="/auth/login">Logg Inn</a>

<%- include('partials/foot') %>