<%- include('partials/head') %>

<h1>Logg Inn!</h1>

<form action="/auth/login" method="POST">
    <input type="text" name="navn" placeholder="Navn">
    <input type="email" name="epost" placeholder="E-post">
    <input type="password" name="passord" placeholder="Passord">
    <input type="submit" name="login" id="Logg Inn">
</form>

<%- include('partials/foot') %>