<%- include('partials/head') %>

<h1>Registrer!</h1>

<form action="/auth/register" method="POST">
    <input type="text" name="navn" placeholder="Navn">
    <input type="email" name="epost" placeholder="E-post">
    <input type="password" name="passord" placeholder="Passord">
    <input type="password" name="gjentaPassord" placeholder="Gjenta passord">
    <input type="text" name="kontaktspråk" placeholder="Kontaktspråk">
    <input type="tel" name="telefon" placeholder="Telefonnummer">
    <input type="submit" name="registrer" id="Registrer">
</form>

<%- include('partials/foot') %>